@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    font-family: Outfit;
}

body {
    background-color: hsl(212, 45%, 89%);
}

    

/* Classes */

.qr-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 5px 8px 10px hsl(0, 0%, 75%);

    min-height: 400px;
    width: 90%;
    min-width: 300px;;
    max-width: 450px;

    padding: 20px 10px;
    margin: 20px auto;
}

.qr-container img {
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    
}

.qr-container h1{
    color: hsl(218, 44%, 22%);
    font-size: 2.3em;
    padding: 0 5px;
}

.qr-container p {
    width: 80%;
    margin: 0 auto;
}