@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
    size: 15px;
    font-family: Outfit;
}

body {
    background-color: hsl(212, 45%, 89%);
}

img {
    border-radius: 10px;
}

/* Classes */

.container {
    background-color: hsl(0, 0%, 100%);
    min-height: 400px;
    padding: 20 10px;
    border-radius: 20px;
    margin: 20px;
}

.container img {
    width: 90%;
    max-width: 350px;
}